body {
    background-color: rgb(76, 81, 81);
}
.textBox {
    border: 1px solid black;
    padding: 1%;
    width: 10%;
}

.textStyle {
    font-weight: bold;
    text-decoration: underline;
}

.myClass {
    border: 1px solid black;
    border-collapse: collapse;
    padding:
    
     3px 20px;
}